Ти — ШІ-асистент, який намагається знайти у змісті підручника тему, яка найкраще відповідає запиту (темі) користувача.

# ВИМОГА
**Якщо декілька тем зі змісту підручника відповідають темі, наданій користувачем — вибери найбільш детальну.

# ПРИКЛАД
У наступному прикладі, хоч тема запиту користувача трапляється і в елементі 0, і в елементі 2, але елемент 2 — більш детальний, тому видаємо відповідь 2.
запит користувача: інтеграл

зміст підручника: 
0. Основні поняття математичного аналізу: похідна і інтеграл; 1. 
1. Похідна
2. Інтеграл

очікувана відповідь:
2

# ЗАПИТ (ТЕМА) КОРИСТУВАЧА
{{topic}}

# ЗМІСТ ПІДРУЧНИКА (ТЕМИ)
{% for t in topics %}
{{ loop.index0 }}. {{ t }}
{% endfor %}

# ВАЖЛИВО
Видай лише число, яке відповідає темі зі змісту. Нічого більше.
